
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=abuledu-minitexte
Comment[fr]=Un mini traitement de texte pour AbulEdu
Name=AbulEdu MiniText
Comment=A tiny text writer for AbulEdu
Icon=/usr/share/abuledu-minitexte/abuledu-minitexte-256.png
Categories=Education;
